@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
:root {
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: #0b2410;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-size: 150%;
  opacity: 95%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.backgroundTank::before {    
  content: "";
  background-image: url("./assets/marble_green.jpeg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 50%;
}


.clock{
  height: 500px;
  width: 500px;
  background-color: #cdeba5;
  border-radius: 100%;
  border: 1px solid #787d79;
  margin: 10% 30%;
  box-shadow:
  40px 0 0 40px rgba(0,0,0,0.1),
  inset 0 35px 40px 50px #d79b81,
  inset 0 0 120px rgb(43, 58, 39),
  0 0 10px rgba(0,0,0,0.2);
  transform: translateY(-3px);
  overflow: hidden;
}

#textPathId{
transform: rotate(180deg);
}

#textCircle{
fill: rgb(49, 67, 43);
opacity: 88%;

}


#circle { position: relative; width: 100% }

#circle text { font-family: 'Rubik', sans-serif; font-size: 18px; font-weight: bold;  
}

#secondsMinutes{ position: absolute; left: -14rem; top: -217px; width: 189%; height: 940px;
  /* -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
   -ms-animation-name: rotate;
    -o-animation-name: rotate; */
       animation-name: rotate;
/* -webkit-animation-duration: 60s;
  -moz-animation-duration: 60s;
   -ms-animation-duration: 60s;
    -o-animation-duration: 60s; */
       animation-duration: 60s;
/* -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
   -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite; */
       animation-iteration-count: infinite;
/* -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
   -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear; */
       animation-timing-function: linear;
}

#hoursDisplayed{ position: absolute; left: -7rem; top: -67px; width: 139%; height: 653px; }
  


/* @-webkit-keyframes rotate {
  from { -webkit-transform: rotate(84deg); }
  to { -webkit-transform: rotate(444deg); }
}
@-moz-keyframes rotate {
  from { -moz-transform: rotate(84deg); }
  to { -moz-transform: rotate(444deg); }
}
@-ms-keyframes rotate {
  from { -ms-transform: rotate(84deg); }
  to { -ms-transform: rotate(444deg); }
}
@-o-keyframes rotate {
  from { -o-transform: rotate(84deg); }
  to { -o-transform: rotate(444deg); }
}
*/

/* @keyframes rotate {
  from { transform: rotate(84deg); }
  to { transform: rotate(444deg); }
}  */

@keyframes Snurra1 {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -403px;
  }
}

.stopp1 {
  stop-color: #51c393;
}
.stopp2 {
  stop-color: #ff8000;
}
.halvan {
  animation: Snurra1 10s infinite linear;
  stroke-dasharray: 180 800;
  fill: none;
  stroke: url(#gradient);
  stroke-width: 23;
  stroke-linecap: round;
}
.snurra {
  filter: url(#gegga);
  width: 148%;
  height: 148%;
  opacity: 74%;
  position: absolute;
  top: -19%;
  left: -24%;
}
.strecken {
  animation: Snurra1 3s infinite linear;
  stroke-dasharray: 26 54;
  fill: none;
  stroke: url(#gradient);
  stroke-width: 23;
  stroke-linecap: round;
}




#container {
  position: absolute;
  margin: auto;
  height: 80pt;
  top: 0;
  left: 25%;
  bottom: 0;
  opacity: 80%;
  filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  color: rgb(49, 67, 43);
  position: absolute;
  width: 50%;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 25pt;

  text-align: right;

  user-select: none;
}
